body {
    background-color: aliceblue;
}

#navbar{
    background-color: blue;
    width: auto;
}

#project {
    text-align: center;
}

img{
    box-sizing: 20px;
}

#profile{
    background: fixed;
}
